.bg-container{
    background-image: url("images/bg-desktop-light.jpg");
    background-position: bottom;
    background-size: cover;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
.bottom-container{
    background-color: #ECECEC;
    height: 60vh;
}
.main-bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
/* .initial-input{
    appearance: none;
    background-color: black;
} */
.todo-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    /* border: 2px solid red; */
}
.initial-input{
    margin-left: 30px;
    
}
.heading{
    color: #ffffff;
}
.ul-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.add-item-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    width: 50%;
    /* border: 2px solid pink; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.itemTextValue{
    width: 100%;
    border: none;
    border:0px #ffffff !important;
    border-radius: 10px;
    margin-left: 12px;
}
.list-container{
    background-color: #ffffff;
    width: 100%;
    margin-top: 16px;
    /* border: 2px solid blue; */
}
.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 90%;
    margin-bottom: 16px;
    /* border: 2px solid salmon; */
}
.label-container{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    /* border: 2px solid blue; */
    margin-left: 12px;
    width: 100%;
}
.checked{
    text-decoration: line-through;
}
.status-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid pink; */
    

}
.sub-status-container{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid pink; */
    
}
.button{
    border: 0px;
    background-color: white;

}